body {
    background: #000428;  /* fallback for old browsers */
background-color: white;

}
.contenido {
    padding:20px;
}
.contenido-principal {
    
    width:300px;
	padding:30px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}
.presupuesto p{
    margin-bottom: 0;
    font-weight: bold;
}
.presupuesto p span {
    font-weight: normal;
}
#gastos {
    margin-bottom: 40px;
   

}
form{
	width:300px;
	padding:30px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}
form input[type="text"],
form input[type="text"]{
	width:190px;
	padding:3px 10px;
	border:30px solid #f6f6f6;
	border-radius:30px;
	background-color:#f6f6f6;
	margin:10px 0;
	display:inline-block;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: black;
    text-align: center;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color:black;
    font-size: 22px;
    margin-bottom:30px;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  body{
    display: flex;
    justify-content: center;
  }
  .app-container{
    display: flex;
    height: max-content;
    width: 70%;
    justify-content: center;
    background-color: #F6F5F6;
    border: solid;
    border-radius: 3%;
    border-color: #a64dff;
    font-family: 'Barlow', sans-serif;
  
  }
  .title{
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
    font-size: x-large;
    font-weight: bold;
  }
  .subtitle{
    margin: 10px 0px 10px;
  }
  .v-line{
   width: 1px;
   background-color: #d9b3ff;
   height:100%;
  }
  .income-expense{
    background-color: white;
    display: flex;
    padding: 8vh;
    border-radius: 1vh;
    height: 5%;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;;
  }
  .expense-box{
    display: block;
  
  }
  .saving{
    margin-right: 10vh;
  }
  .historial{
      margin-left: 10vh;
  }
  .transaction-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #d9b3ff;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #d9b3ff;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #d9b3ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:  #a64dff;
  }
  hr{
    height: 1px;
    background-color: #d9b3ff;
    width: 100%;
    margin: 10px 0px 10px;
  }
  .total-saving{
   margin: 10px 0px 10px;
   font-size: xx-large;
  }