body {
background: #000428;  /* fallback for old browsers */
background-color: white;
display: flex;
justify-content: center;
}

.caja{
  background-color: white;
  display: flex;
  padding: 9vh;
  border-radius: 1vh;
  height: 5%;
  justify-content: space-between;
  box-shadow: rgba(84, 84, 141, s0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;;
}

.container{
  display: flex;
  height: max-content;
  width: 70%;
  justify-content: center;
  background-color: #F6F5F6;
  border: solid;
  border-radius: 1%;
  border-color: #d4d2d6;


}

.ahorro-total-dinero{
  font-weight: 100;
  padding: auto;
}
.ahorro-total{ 
  margin-bottom: 0;
  font-weight: bold;
  padding: auto;
}
.presupuesto p{
    margin-bottom: 0;
    font-weight: bold;
}

.separacion{
  width: 1px;
  background-color: #d9b3ff;
  height:100%;
 }
 .gasto-dinero {
  margin-bottom: 40px;
  font-weight: bold;}

.presupuesto p span {
    font-weight: normal;
}



  
